

body{ margin : 0; overflow :hidden;}
#grid {
	border-top: 1px solid;
	margin: 10px;
	border-left: 1px solid;
	padding: 0;
}
.cell {
	--size: 10px;
	border-right: 1px solid;
	border-bottom: 1px solid;
	font-size: 0.5rem;
	height: var(--size);
	width: var(--size);
	box-sizing: border-box;
	background: 0;
}

.row{
	display: flex;
}

.cell[data-active=true]{
	background:red;
}

#touch {
	--size: 10px;
	position: fixed;
	/*left: calc( -1 * var(--size) / 2);
	top: calc( -1 * var(--size) / 2);*/
	left: 10px;
	top: 10px;
	height: var(--size);
	aspect-ratio: 1/1;
	background: #333;
	border-radius: 50%;
}

